.face {
	float: left;
	width: 29px;
	height: 29px;
	margin: 0 5px 5px 0;
	background: url("images/qqface.png") no-repeat;
}
.qq_face1 {
	background-position: 0 0;
}
.qq_face2 {
	background-position: -29px 0;
}
.qq_face3 {
	background-position: -58px 0;
}
.qq_face4 {
	background-position: -87px 0;
}
.qq_face5 {
	background-position: -116px 0;
}
.qq_face6 {
	background-position: -145px 0;
}
.qq_face7 {
	background-position: -174px 0;
}
.qq_face8 {
	background-position: -203px 0;
}
.qq_face9 {
	background-position: -232px 0;
}
.qq_face10 {
	background-position: -261px 0;
}
.qq_face11 {
	background-position: -290px 0;
}
.qq_face12 {
	background-position: -319px 0;
}
.qq_face13 {
	background-position: -348px 0;
}
.qq_face14 {
	background-position: -377px 0;
}
.qq_face15 {
	background-position: -406px 0;
}
.qq_face16 {
	background-position: 0 -29px;
}
.qq_face17 {
	background-position: -29px -29px;
}
.qq_face18 {
	background-position: -58px -29px;
}
.qq_face19 {
	background-position: -87px -29px;
}
.qq_face20 {
	background-position: -116px -29px;
}
.qq_face21 {
	background-position: -145px -29px;
}
.qq_face22 {
	background-position: -174px -29px;
}
.qq_face23 {
	background-position: -203px -29px;
}
.qq_face24 {
	background-position: -232px -29px;
}
.qq_face25 {
	background-position: -261px -29px;
}
.qq_face26 {
	background-position: -290px -29px;
}
.qq_face27 {
	background-position: -319px -29px;
}
.qq_face28 {
	background-position: -348px -29px;
}
.qq_face29 {
	background-position: -377px -29px;
}
.qq_face30 {
	background-position: -406px -29px;
}
.qq_face31 {
	background-position: 0 -58px;
}
.qq_face32 {
	background-position: -29px -58px;
}
.qq_face33 {
	background-position: -58px -58px;
}
.qq_face34 {
	background-position: -87px -58px;
}
.qq_face35 {
	background-position: -116px -58px;
}
.qq_face36 {
	background-position: -145px -58px;
}
.qq_face37 {
	background-position: -174px -58px;
}
.qq_face38 {
	background-position: -203px -58px;
}
.qq_face39 {
	background-position: -232px -58px;
}
.qq_face40 {
	background-position: -261px -58px;
}
.qq_face41 {
	background-position: -290px -58px;
}
.qq_face42 {
	background-position: -319px -58px;
}
.qq_face43 {
	background-position: -348px -58px;
}
.qq_face44 {
	background-position: -377px -58px;
}
.qq_face45 {
	background-position: -406px -58px;
}
.qq_face46 {
	background-position: 0 -87px;
}
.qq_face47 {
	background-position: -29px -87px;
}
.qq_face48 {
	background-position: -58px -87px;
}
.qq_face49 {
	background-position: -87px -87px;
}
.qq_face50 {
	background-position: -116px -87px;
}
.qq_face51 {
	background-position: -145px -87px;
}
.qq_face52 {
	background-position: -174px -87px;
}
.qq_face53 {
	background-position: -203px -87px;
}
.qq_face54 {
	background-position: -232px -87px;
}
.qq_face55 {
	background-position: -261px -87px;
}
.qq_face56 {
	background-position: -290px -87px;
}
.qq_face57 {
	background-position: -319px -87px;
}
.qq_face58 {
	background-position: -348px -87px;
}
.qq_face59 {
	background-position: -377px -87px;
}
.qq_face60 {
	background-position: -406px -87px;
}
.qq_face61 {
	background-position: 0 -116px;
}
.qq_face62 {
	background-position: -29px -116px;
}
.qq_face63 {
	background-position: -58px -116px;
}
.qq_face64 {
	background-position: -87px -116px;
}
.qq_face65 {
	background-position: -116px -116px;
}
.qq_face66 {
	background-position: -145px -116px;
}
.qq_face67 {
	background-position: -174px -116px;
}
.qq_face68 {
	background-position: -203px -116px;
}
.qq_face69 {
	background-position: -232px -116px;
}
.qq_face70 {
	background-position: -261px -116px;
}
.qq_face71 {
	background-position: -290px -116px;
}
.qq_face72 {
	background-position: -319px -116px;
}
.qq_face73 {
	background-position: -348px -116px;
}
.qq_face74 {
	background-position: -377px -116px;
}
.qq_face75 {
	background-position: -406px -116px;
}
.qq_face76 {
	background-position: 0 -145px;
}
.qq_face77 {
	background-position: -29px -145px;
}
.qq_face78 {
	background-position: -58px -145px;
}
.qq_face79 {
	background-position: -87px -145px;
}
.qq_face80 {
	background-position: -116px -145px;
}
.qq_face81 {
	background-position: -145px -145px;
}
.qq_face82 {
	background-position: -174px -145px;
}
.qq_face83 {
	background-position: -203px -145px;
}
.qq_face84 {
	background-position: -232px -145px;
}
.qq_face85 {
	background-position: -261px -145px;
}
.qq_face86 {
	background-position: -290px -145px;
}
.qq_face87 {
	background-position: -319px -145px;
}
.qq_face88 {
	background-position: -348px -145px;
}
.qq_face89 {
	background-position: -377px -145px;
}
.qq_face90 {
	background-position: -406px -145px;
}
.qq_face91 {
	background-position: 0 -174px;
}
.qq_face92 {
	background-position: -29px -174px;
}
.qq_face93 {
	background-position: -58px -174px;
}
.qq_face94 {
	background-position: -87px -174px;
}
.qq_face95 {
	background-position: -116px -174px;
}
.qq_face96 {
	background-position: -145px -174px;
}
.qq_face97 {
	background-position: -174px -174px;
}
.qq_face98 {
	background-position: -203px -174px;
}
.qq_face99 {
	background-position: -232px -174px;
}
.qq_face100 {
	background-position: -261px -174px;
}
.qq_face101 {
	background-position: -290px -174px;
}
.qq_face102 {
	background-position: -319px -174px;
}
.qq_face103 {
	background-position: -348px -174px;
}
.qq_face104 {
	background-position: -377px -174px;
}
.qq_face105 {
	background-position: -406px -174px;
}
