
.emoji-panel {
  border: 1px solid #DEDEDE;
}

.emoji-hd {
  overflow: hidden;
  padding: 8px 20px 0;
  background: #F2F2F2;
}

.emoji-hd .hd-item {
  float: left;
}

.emoji-hd .hd-btn {
  display: block;
  color: #333;
  padding: 5px 20px;
  font-size: 14px;
}

.emoji-hd .hd-btn.active {
  background: #FFF;
}

.emoji-bd {
  height: 232px;
  overflow-y: auto;
  background: #FFF;
}

.face-box {
  overflow: hidden;
  margin: 15px 20px 0;
}

.qq-face,.emoji-face {
  overflow: hidden;
  margin-right: -1px;
}
