.emoji-panel {
	border: 1px solid #dedede;
}

.emoji-hd {
	overflow: hidden;
	padding: 8px 20px 0;
	background: #f2f2f2;
}

.emoji-hd .hd-item {
	float: left;
}

.emoji-hd .hd-btn {
	display: block;
	color: #333;
	padding: 5px 20px;
	font-size: 14px;
}

.emoji-hd .hd-btn.active {
	background: #fff;
}

.emoji-bd {
	height: 232px;
	overflow-y: auto;
	background: #fff;
}

.face-box {
	overflow: hidden;
	margin: 15px 20px 0;
}

.qq-face,
.emoji-face {
	overflow: hidden;
	margin-right: -1px;
}
